In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import json
import re
from nltk.tokenize import word_tokenize
import nltk

nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
def load_json(file_path):
    with open(file_path, 'r') as file:
        data = json.load(file)
    return data

In [ ]:
tables = load_json('/content/drive/MyDrive/ Text to Sql/spider/tables.json')
train_data = load_json('/content/drive/MyDrive/ Text to Sql/spider/train_spider.json')

In [ ]:
def extract_and_enrich_queries(data, schema):
    enriched_pairs = []
    for item in data:
        db_id = item['db_id']
        question = item['question']
        sql_query = item['query']
        # Find the corresponding schema
        db_schema = next((s for s in schema if s['db_id'] == db_id), None)
        if db_schema:
            # Optionally enrich or simplify sql_query here using db_schema
            # For example, substituting table and column names with placeholders (simplified)
            for table in db_schema['table_names_original']:
                if table in sql_query:
                    sql_query = sql_query.replace(table, 'table')
            for column_info in db_schema['column_names_original']:
                if column_info[1] in sql_query:
                    sql_query = sql_query.replace(column_info[1], 'column')
        enriched_pairs.append((question, sql_query))
    return enriched_pairs

In [ ]:
query_pairs = extract_and_enrich_queries(train_data, tables)

In [ ]:
query_pairs

[('How many heads of the departments are older than 56 ?',
  'SELECT count(column) FROM table WHERE column  >  56'),
 ('List the name, born state and age of the heads of departments ordered by age.',
  'SELECT column ,  column ,  column FROM table ORDER BY column'),
 ('List the creation year, name and budget of each department.',
  'SELECT creation ,  column ,  budget_in_billions FROM table'),
 ('What are the maximum and minimum budget of the departments?',
  'SELECT max(budget_in_billions) ,  min(budget_in_billions) FROM table'),
 ('What is the average number of employees of the departments whose rank is between 10 and 15?',
  'SELECT avg(num_employees) FROM table WHERE ranking BETWEEN 10 AND 15'),
 ('What are the names of the heads who are born outside the California state?',
  "SELECT column FROM table WHERE column != 'California'"),
 ("What are the distinct creation years of the departments managed by a secretary born in state 'Alabama'?",
  "SELECT DISTINCT T1.creation FROM table AS T1 JOIN table AS T2 ON T1.table_id  =  T2.table_id JOIN table AS T3 ON T2.table_id  =  T3.table_id WHERE T3.column  =  'Alabama'"),
 ('What are the names of the states where at least 3 heads were born?',
  'SELECT column FROM table GROUP BY column HAVING count(column)  >=  3'),
 ('In which year were most departments established?',
  'SELECT creation FROM table GROUP BY creation ORDER BY count(column) DESC LIMIT 1'),
 ("Show the name and number of employees for the departments managed by heads whose temporary acting value is 'Yes'?",
  "SELECT T1.column ,  T1.num_employees FROM table AS T1 JOIN table AS T2 ON T1.table_id  =  T2.table_id WHERE T2.column  =  'Yes'"),
 ('How many acting statuses are there?',
  'SELECT count(DISTINCT column) FROM table'),
 ('How many departments are led by heads who are not mentioned?',
  'SELECT count(column) FROM table WHERE table_id NOT IN (SELECT table_id FROM table);'),
 ('What are the distinct ages of the heads who are acting?',
  "SELECT DISTINCT T1.column FROM table AS T2 JOIN table AS T1 ON T1.table_id  =  T2.table_id WHERE T2.column  =  'Yes'"),
 ("List the states where both the secretary of 'Treasury' department and the secretary of 'Homeland Security' were born.",
  "SELECT T3.column FROM table AS T1 JOIN table AS T2 ON T1.table_id  =  T2.table_id JOIN table AS T3 ON T2.table_id  =  T3.table_id WHERE T1.column  =  'Treasury' INTERSECT SELECT T3.column FROM table AS T1 JOIN table AS T2 ON T1.table_id  =  T2.table_id JOIN table AS T3 ON T2.table_id  =  T3.table_id WHERE T1.column  =  'Homeland Security'"),
 ('Which department has more than 1 head at a time? List the id, name and the number of heads.',
  'SELECT T1.table_id ,  T1.column ,  count(column) FROM table AS T2 JOIN table AS T1 ON T1.table_id  =  T2.table_id GROUP BY T1.table_id HAVING count(column)  >  1'),
 ("Which head's name has the substring 'Ha'? List the id and name.",
  "SELECT table_id ,  column FROM table WHERE column LIKE '%Ha%'"),
 ('How many farms are there?', 'SELECT count(column) FROM table'),
 ('Count the number of farms.', 'SELECT count(column) FROM table'),
 ('List the total number of horses on farms in ascending order.',
  'SELECT column FROM table ORDER BY column ASC'),
 ('What is the total horses record for each farm, sorted ascending?',
  'SELECT column FROM table ORDER BY column ASC'),
 ('What are the hosts of competitions whose theme is not "Aliens"?',
  "SELECT column FROM table_competition WHERE column !=  'Aliens'"),
 ('Return the hosts of competitions for which the theme is not Aliens?',
  "SELECT column FROM table_competition WHERE column !=  'Aliens'"),
 ('What are the themes of farm competitions sorted by year in ascending order?',
  'SELECT column FROM table_competition ORDER BY YEAR ASC'),
 ('Return the themes of farm competitions, sorted by year ascending.',
  'SELECT column FROM table_competition ORDER BY YEAR ASC'),
 ('What is the average number of working horses of farms with more than 5000 total number of horses?',
  'SELECT avg(column) FROM table WHERE column  >  5000'),
 ('Give the average number of working horses on farms with more than 5000 total horses.',
  'SELECT avg(column) FROM table WHERE column  >  5000'),
 ('What are the maximum and minimum number of cows across all farms.',
  'SELECT max(column) ,  min(column) FROM table'),
 ('Return the maximum and minimum number of cows across all farms.',
  'SELECT max(column) ,  min(column) FROM table'),
 ('How many different statuses do cities have?',
  'SELECT count(DISTINCT column) FROM table'),
 ('Count the number of different statuses.',
  'SELECT count(DISTINCT column) FROM table'),
 ('List official names of cities in descending order of population.',
  'SELECT column FROM table ORDER BY column DESC'),
 ('What are the official names of cities, ordered descending by population?',
  'SELECT column FROM table ORDER BY column DESC'),
 ('List the official name and status of the city with the largest population.',
  'SELECT column ,  column FROM table ORDER BY column DESC LIMIT 1'),
 ('What is the official name and status of the city with the most residents?',
  'SELECT column ,  column FROM table ORDER BY column DESC LIMIT 1'),
 ('Show the years and the official names of the host cities of competitions.',
  'SELECT T2.column ,  T1.column FROM table AS T1 JOIN table_competition AS T2 ON T1.column  =  T2.Host_table_ID'),
 ('Give the years and official names of the cities of each competition.',
  'SELECT T2.column ,  T1.column FROM table AS T1 JOIN table_competition AS T2 ON T1.column  =  T2.Host_table_ID'),
 ('Show the official names of the cities that have hosted more than one competition.',
  'SELECT T1.column FROM table AS T1 JOIN table_competition AS T2 ON T1.column  =  T2.Host_table_ID GROUP BY T2.Host_table_ID HAVING COUNT(column)  >  1'),
 ('What are the official names of cities that have hosted more than one competition?',
  'SELECT T1.column FROM table AS T1 JOIN table_competition AS T2 ON T1.column  =  T2.Host_table_ID GROUP BY T2.Host_table_ID HAVING COUNT(column)  >  1'),
 ('Show the status of the city that has hosted the greatest number of competitions.',
  'SELECT T1.column FROM table AS T1 JOIN table_competition AS T2 ON T1.column  =  T2.Host_table_ID GROUP BY T2.Host_table_ID ORDER BY COUNT(column) DESC LIMIT 1'),
 ('What is the status of the city that has hosted the most competitions?',
  'SELECT T1.column FROM table AS T1 JOIN table_competition AS T2 ON T1.column  =  T2.Host_table_ID GROUP BY T2.Host_table_ID ORDER BY COUNT(column) DESC LIMIT 1'),
 ('Please show the themes of competitions with host cities having populations larger than 1000.',
  'SELECT T2.column FROM table AS T1 JOIN table_competition AS T2 ON T1.column  =  T2.Host_table_ID WHERE T1.column  >  1000'),
 ('What are the themes of competitions that have corresponding host cities with more than 1000 residents?',
  'SELECT T2.column FROM table AS T1 JOIN table_competition AS T2 ON T1.column  =  T2.Host_table_ID WHERE T1.column  >  1000'),
 ('Please show the different statuses of cities and the average population of cities with each status.',
  'SELECT column ,  avg(column) FROM table GROUP BY column'),
 ('What are the statuses and average populations of each city?',
  'SELECT column ,  avg(column) FROM table GROUP BY column'),
 ('Please show the different statuses, ordered by the number of cities that have each.',
  'SELECT column FROM table GROUP BY column ORDER BY COUNT(column) ASC'),
 ('Return the different statuses of cities, ascending by frequency.',
  'SELECT column FROM table GROUP BY column ORDER BY COUNT(column) ASC'),
 ('List the most common type of Status across cities.',
  'SELECT column FROM table GROUP BY column ORDER BY COUNT(column) DESC LIMIT 1'),
 ('What is the most common status across all cities?',
  'SELECT column FROM table GROUP BY column ORDER BY COUNT(column) DESC LIMIT 1'),
 ('List the official names of cities that have not held any competition.',
  'SELECT column FROM table WHERE column NOT IN (SELECT Host_table_ID FROM table_competition)'),
 ('What are the official names of cities that have not hosted a farm competition?',
  'SELECT column FROM table WHERE column NOT IN (SELECT Host_table_ID FROM table_competition)'),
 ('Show the status shared by cities with population bigger than 1500 and smaller than 500.',
  'SELECT column FROM table WHERE column  >  1500 INTERSECT SELECT column FROM table WHERE column  <  500'),
 ('Which statuses correspond to both cities that have a population over 1500 and cities that have a population lower than 500?',
  'SELECT column FROM table WHERE column  >  1500 INTERSECT SELECT column FROM table WHERE column  <  500'),
 ('Find the official names of cities with population bigger than 1500 or smaller than 500.',
  'SELECT column FROM table WHERE column  >  1500 OR column  <  500'),
 ('What are the official names of cities that have population over 1500 or less than 500?',
  'SELECT column FROM table WHERE column  >  1500 OR column  <  500'),
 ('Show the census ranking of cities whose status are not "Village".',
  'SELECT column FROM table WHERE column !=  "Village"'),
 ('What are the census rankings of cities that do not have the status "Village"?',
  'SELECT column FROM table WHERE column !=  "Village"'),
 ('which course has most number of registered students?',
  'SELECT T1.column FROM courses AS T1 JOIN student_course_registrations AS T2 ON T1.column = T2.course_Id GROUP BY T1.column ORDER BY count(column) DESC LIMIT 1'),
 ('What is the name of the course with the most registered students?',
  'SELECT T1.column FROM courses AS T1 JOIN student_course_registrations AS T2 ON T1.column = T2.course_Id GROUP BY T1.column ORDER BY count(column) DESC LIMIT 1'),
 ('what is id of students who registered some courses but the least number of courses in these students?',
  'SELECT column FROM student_course_registrations GROUP BY column ORDER BY count(column) LIMIT 1'),
 ('What are the ids of the students who registered for some courses but had the least number of courses for all students?',
  'SELECT column FROM student_course_registrations GROUP BY column ORDER BY count(column) LIMIT 1'),
 ('what are the first name and last name of all candidates?',
  'SELECT T2.column ,  T2.column FROM candidates AS T1 JOIN people AS T2 ON T1.column = T2.column'),
 ('What are the first and last names of all the candidates?',
  'SELECT T2.column ,  T2.column FROM candidates AS T1 JOIN people AS T2 ON T1.column = T2.column'),
 ('List the id of students who never attends courses?',
  'SELECT column FROM students WHERE column NOT IN (SELECT column FROM student_course_attendance)'),
 ('What are the  ids of every student who has never attended a course?',
  'SELECT column FROM students WHERE column NOT IN (SELECT column FROM student_course_attendance)'),
 ('List the id of students who attended some courses?',
  'SELECT column FROM student_course_attendance'),
 ('What are the ids of all students who have attended at least one course?',
  'SELECT column FROM student_course_attendance'),
 ('What are the ids of all students for courses and what are the names of those courses?',
  'SELECT T1.column ,  T2.column FROM student_course_registrations AS T1 JOIN courses AS T2 ON T1.column = T2.column'),
 ('What is detail of the student who most recently registered course?',
  'SELECT T2.column FROM student_course_registrations AS T1 JOIN students AS T2 ON T1.column = T2.column ORDER BY T1.column DESC LIMIT 1'),
 ('What details do we have on the students who registered for courses most recently?',
  'SELECT T2.column FROM student_course_registrations AS T1 JOIN students AS T2 ON T1.column = T2.column ORDER BY T1.column DESC LIMIT 1'),
 ('How many students attend course English?',
  'SELECT count(column) FROM courses AS T1 JOIN student_course_attendance AS T2 ON T1.column = T2.column WHERE T1.column = "English"'),
 ('How many students are attending English courses?',
  'SELECT count(column) FROM courses AS T1 JOIN student_course_attendance AS T2 ON T1.column = T2.column WHERE T1.column = "English"'),
 ('How many courses do the student whose id is 171 attend?',
  'SELECT count(column) FROM courses AS T1 JOIN student_course_attendance AS T2 ON T1.column = T2.column WHERE T2.column = 171'),
 ('How many courses does the student with id 171 actually attend?',
  'SELECT count(column) FROM courses AS T1 JOIN student_course_attendance AS T2 ON T1.column = T2.column WHERE T2.column = 171'),
 ('Find id of the candidate whose email is stanley.monahan@example.org?',
  'SELECT T2.column FROM people AS T1 JOIN candidates AS T2 ON T1.column = T2.column WHERE T1.column = "stanley.monahan@example.org"'),
 ('What is the id of the candidate whose email is stanley.monahan@example.org?',
  'SELECT T2.column FROM people AS T1 JOIN candidates AS T2 ON T1.column = T2.column WHERE T1.column = "stanley.monahan@example.org"'),
 ('Find id of the candidate who most recently accessed the course?',
  'SELECT column FROM candidate_assessments ORDER BY column DESC LIMIT 1'),
 ('What is the id of the candidate who most recently accessed the course?',
  'SELECT column FROM candidate_assessments ORDER BY column DESC LIMIT 1'),
 ('What is detail of the student who registered the most number of courses?',
  'SELECT T1.column FROM students AS T1 JOIN student_course_registrations AS T2 ON T1.column = T2.column GROUP BY T1.column ORDER BY count(column) DESC LIMIT 1'),
 ('What are the details of the student who registered for the most number of courses?',
  'SELECT T1.column FROM students AS T1 JOIN student_course_registrations AS T2 ON T1.column = T2.column GROUP BY T1.column ORDER BY count(column) DESC LIMIT 1'),
 ('List the id of students who registered some courses and the number of their registered courses?',
  'SELECT T1.column ,  count(column) FROM students AS T1 JOIN student_course_registrations AS T2 ON T1.column = T2.column GROUP BY T1.column'),
 ('For every student who is registered for some course, how many courses are they registered for?',
  'SELECT T1.column ,  count(column) FROM students AS T1 JOIN student_course_registrations AS T2 ON T1.column = T2.column GROUP BY T1.column'),
 ('How many registed students do each course have? List course name and the number of their registered students?',
  'SELECT T3.column ,  count(column) FROM students AS T1 JOIN student_course_registrations AS T2 ON T1.column = T2.column JOIN courses AS T3 ON T2.column = T3.column GROUP BY T2.column'),
 ('For each course id, how many students are registered and what are the course names?',
  'SELECT T3.column ,  count(column) FROM students AS T1 JOIN student_course_registrations AS T2 ON T1.column = T2.column JOIN courses AS T3 ON T2.column = T3.column GROUP BY T2.column'),
 ('Find id of candidates whose assessment code is "Pass"?',
  'SELECT column FROM candidate_assessments WHERE column = "Pass"'),
 ('What are the ids of the candidates that have an outcome code of Pass?',
  'SELECT column FROM candidate_assessments WHERE column = "Pass"'),
 ('Find the cell mobile number of the candidates whose assessment code is "Fail"?',
  'SELECT T3.column FROM candidates AS T1 JOIN candidate_assessments AS T2 ON T1.column = T2.column JOIN people AS T3 ON T1.column = T3.column WHERE T2.column = "Fail"'),
 ('What are the cell phone numbers of the candidates that received an assessment code of "Fail"?',
  'SELECT T3.column FROM candidates AS T1 JOIN candidate_assessments AS T2 ON T1.column = T2.column JOIN people AS T3 ON T1.column = T3.column WHERE T2.column = "Fail"'),
 ('What are the id of students who registered course 301?',
  'SELECT column FROM student_course_attendance WHERE column  =  301'),
 ('What are the ids of the students who registered for course 301?',
  'SELECT column FROM student_course_attendance WHERE column  =  301'),
 ('What is the id of the student who most recently registered course 301?',
  'SELECT column FROM student_course_attendance WHERE column = 301 ORDER BY column DESC LIMIT 1'),
 ('What are the ids of the students who registered for course 301 most recently?',
  'SELECT column FROM student_course_attendance WHERE column = 301 ORDER BY column DESC LIMIT 1'),
 ('Find distinct cities of addresses of people?',
  'SELECT DISTINCT T1.column FROM addresses AS T1 JOIN people_addresses AS T2 ON T1.column = T2.column'),
 ('What are the different cities where people live?',
  'SELECT DISTINCT T1.column FROM addresses AS T1 JOIN people_addresses AS T2 ON T1.column = T2.column'),
 ('Find distinct cities of address of students?',
  'SELECT DISTINCT T1.column FROM addresses AS T1 JOIN people_addresses AS T2 ON T1.column = T2.column JOIN students AS T3 ON T2.column = T3.column'),
 ('What are the different cities where students live?',
  'SELECT DISTINCT T1.column FROM addresses AS T1 JOIN people_addresses AS T2 ON T1.column = T2.column JOIN students AS T3 ON T2.column = T3.column'),
 ('List the names of courses in alphabetical order?',
  'SELECT column FROM courses ORDER BY column'),
 ('What are the names of the courses in alphabetical order?',
  'SELECT column FROM courses ORDER BY column'),
 ('List the first names of people in alphabetical order?',
  'SELECT column FROM people ORDER BY column'),
 ('What are the first names of the people in alphabetical order?',
  'SELECT column FROM people ORDER BY column'),
 ('What are the id of students who registered courses or attended courses?',
  'SELECT column FROM student_course_registrations UNION SELECT column FROM student_course_attendance'),
 ('What are the ids of the students who either registered or attended a course?',
  'SELECT column FROM student_course_registrations UNION SELECT column FROM student_course_attendance'),
 ('Find the id of courses which are registered or attended by student whose id is 121?',
  'SELECT column FROM student_course_registrations WHERE column = 121 UNION SELECT column FROM student_course_attendance WHERE column = 121'),
 ('What are the ids of the courses that are registered or attended by the student whose id is 121?',
  'SELECT column FROM student_course_registrations WHERE column = 121 UNION SELECT column FROM student_course_attendance WHERE column = 121'),
 ('What are all info of students who registered courses but not attended courses?',
  'SELECT column FROM student_course_registrations WHERE column NOT IN (SELECT column FROM student_course_attendance)'),
 ('What are all details of the students who registered but did not attend any course?',
  'SELECT column FROM student_course_registrations WHERE column NOT IN (SELECT column FROM student_course_attendance)'),
 ('List the id of students who registered course statistics in the order of registration date.',
  'SELECT T2.column FROM courses AS T1 JOIN student_course_registrations AS T2 ON T1.column = T2.column WHERE T1.column = "statistics" ORDER BY T2.column'),
 ('What are the ids of the students who registered course statistics by order of registration date?',
  'SELECT T2.column FROM courses AS T1 JOIN student_course_registrations AS T2 ON T1.column = T2.column WHERE T1.column = "statistics" ORDER BY T2.column'),
 ('List the id of students who attended  statistics courses in the order of attendance date.',
  'SELECT T2.column FROM courses AS T1 JOIN student_course_attendance AS T2 ON T1.column = T2.column WHERE T1.column = "statistics" ORDER BY T2.column'),
 ('What are the ids of the students who attended courses in the statistics department in order of attendance date.',
  'SELECT T2.column FROM courses AS T1 JOIN student_course_attendance AS T2 ON T1.column = T2.column WHERE T1.column = "statistics" ORDER BY T2.column'),
 ('Give me the dates when the max temperature was higher than 85.',
  'SELECT column FROM table WHERE column  >  85'),
 ('What are the dates with a maximum temperature higher than 85?',
  'SELECT column FROM table WHERE column  >  85'),
 ('What are the names of stations that have latitude lower than 37.5?',

In [ ]:
def tokenize_and_convert_to_sequences(pairs):
    vocab = {}
    sequences = []
    for question, sql in pairs:
        tokenized_question = word_tokenize(question.lower())
        tokenized_sql = word_tokenize(sql.lower())
        sequences.append((tokenized_question, tokenized_sql))
        for word in tokenized_question + tokenized_sql:
            if word not in vocab:
                vocab[word] = len(vocab) + 1  # Incremental index
    vocab['<pad>'] = 0  # Padding token
    return sequences, vocab

In [ ]:
sequences, vocab = tokenize_and_convert_to_sequences(query_pairs)

In [ ]:
sequences

[(['how',
   'many',
   'heads',
   'of',
   'the',
   'departments',
   'are',
   'older',
   'than',
   '56',
   '?'],
  ['select',
   'count',
   '(',
   'column',
   ')',
   'from',
   'table',
   'where',
   'column',
   '>',
   '56']),
 (['list',
   'the',
   'name',
   ',',
   'born',
   'state',
   'and',
   'age',
   'of',
   'the',
   'heads',
   'of',
   'departments',
   'ordered',
   'by',
   'age',
   '.'],
  ['select',
   'column',
   ',',
   'column',
   ',',
   'column',
   'from',
   'table',
   'order',
   'by',
   'column']),
 (['list',
   'the',
   'creation',
   'year',
   ',',
   'name',
   'and',
   'budget',
   'of',
   'each',
   'department',
   '.'],
  ['select',
   'creation',
   ',',
   'column',
   ',',
   'budget_in_billions',
   'from',
   'table']),
 (['what',
   'are',
   'the',
   'maximum',
   'and',
   'minimum',
   'budget',
   'of',
   'the',
   'departments',
   '?'],
  ['select',
   'max',
   '(',
   'budget_in_billions',
   ')',
   ',',
   'min',
   '(',
   'budget_in_billions',
   ')',
   'from',
   'table']),
 (['what',
   'is',
   'the',
   'average',
   'number',
   'of',
   'employees',
   'of',
   'the',
   'departments',
   'whose',
   'rank',
   'is',
   'between',
   '10',
   'and',
   '15',
   '?'],
  ['select',
   'avg',
   '(',
   'num_employees',
   ')',
   'from',
   'table',
   'where',
   'ranking',
   'between',
   '10',
   'and',
   '15']),
 (['what',
   'are',
   'the',
   'names',
   'of',
   'the',
   'heads',
   'who',
   'are',
   'born',
   'outside',
   'the',
   'california',
   'state',
   '?'],
  ['select',
   'column',
   'from',
   'table',
   'where',
   'column',
   '!',
   '=',
   "'california",
   "'"]),
 (['what',
   'are',
   'the',
   'distinct',
   'creation',
   'years',
   'of',
   'the',
   'departments',
   'managed',
   'by',
   'a',
   'secretary',
   'born',
   'in',
   'state',
   "'alabama",
   "'",
   '?'],
  ['select',
   'distinct',
   't1.creation',
   'from',
   'table',
   'as',
   't1',
   'join',
   'table',
   'as',
   't2',
   'on',
   't1.table_id',
   '=',
   't2.table_id',
   'join',
   'table',
   'as',
   't3',
   'on',
   't2.table_id',
   '=',
   't3.table_id',
   'where',
   't3.column',
   '=',
   "'alabama",
   "'"]),
 (['what',
   'are',
   'the',
   'names',
   'of',
   'the',
   'states',
   'where',
   'at',
   'least',
   '3',
   'heads',
   'were',
   'born',
   '?'],
  ['select',
   'column',
   'from',
   'table',
   'group',
   'by',
   'column',
   'having',
   'count',
   '(',
   'column',
   ')',
   '>',
   '=',
   '3']),
 (['in', 'which', 'year', 'were', 'most', 'departments', 'established', '?'],
  ['select',
   'creation',
   'from',
   'table',
   'group',
   'by',
   'creation',
   'order',
   'by',
   'count',
   '(',
   'column',
   ')',
   'desc',
   'limit',
   '1']),
 (['show',
   'the',
   'name',
   'and',
   'number',
   'of',
   'employees',
   'for',
   'the',
   'departments',
   'managed',
   'by',
   'heads',
   'whose',
   'temporary',
   'acting',
   'value',
   'is',
   "'yes",
   "'",
   '?'],
  ['select',
   't1.column',
   ',',
   't1.num_employees',
   'from',
   'table',
   'as',
   't1',
   'join',
   'table',
   'as',
   't2',
   'on',
   't1.table_id',
   '=',
   't2.table_id',
   'where',
   't2.column',
   '=',
   "'yes",
   "'"]),
 (['how', 'many', 'acting', 'statuses', 'are', 'there', '?'],
  ['select', 'count', '(', 'distinct', 'column', ')', 'from', 'table']),
 (['how',
   'many',
   'departments',
   'are',
   'led',
   'by',
   'heads',
   'who',
   'are',
   'not',
   'mentioned',
   '?'],
  ['select',
   'count',
   '(',
   'column',
   ')',
   'from',
   'table',
   'where',
   'table_id',
   'not',
   'in',
   '(',
   'select',
   'table_id',
   'from',
   'table',
   ')',
   ';']),
 (['what',
   'are',
   'the',
   'distinct',
   'ages',
   'of',
   'the',
   'heads',
   'who',
   'are',
   'acting',
   '?'],
  ['select',
   'distinct',
   't1.column',
   'from',
   'table',
   'as',
   't2',
   'join',
   'table',
   'as',
   't1',
   'on',
   't1.table_id',
   '=',
   't2.table_id',
   'where',
   't2.column',
   '=',
   "'yes",
   "'"]),
 (['list',
   'the',
   'states',
   'where',
   'both',
   'the',
   'secretary',
   'of',
   "'treasury",
   "'",
   'department',
   'and',
   'the',
   'secretary',
   'of',
   "'homeland",
   'security',
   "'",
   'were',
   'born',
   '.'],
  ['select',
   't3.column',
   'from',
   'table',
   'as',
   't1',
   'join',
   'table',
   'as',
   't2',
   'on',
   't1.table_id',
   '=',
   't2.table_id',
   'join',
   'table',
   'as',
   't3',
   'on',
   't2.table_id',
   '=',
   't3.table_id',
   'where',
   't1.column',
   '=',
   "'treasury",
   "'",
   'intersect',
   'select',
   't3.column',
   'from',
   'table',
   'as',
   't1',
   'join',
   'table',
   'as',
   't2',
   'on',
   't1.table_id',
   '=',
   't2.table_id',
   'join',
   'table',
   'as',
   't3',
   'on',
   't2.table_id',
   '=',
   't3.table_id',
   'where',
   't1.column',
   '=',
   "'homeland",
   'security',
   "'"]),
 (['which',
   'department',
   'has',
   'more',
   'than',
   '1',
   'head',
   'at',
   'a',
   'time',
   '?',
   'list',
   'the',
   'id',
   ',',
   'name',
   'and',
   'the',
   'number',
   'of',
   'heads',
   '.'],
  ['select',
   't1.table_id',
   ',',
   't1.column',
   ',',
   'count',
   '(',
   'column',
   ')',
   'from',
   'table',
   'as',
   't2',
   'join',
   'table',
   'as',
   't1',
   'on',
   't1.table_id',
   '=',
   't2.table_id',
   'group',
   'by',
   't1.table_id',
   'having',
   'count',
   '(',
   'column',
   ')',
   '>',
   '1']),
 (['which',
   'head',
   "'s",
   'name',
   'has',
   'the',
   'substring',
   "'ha",
   "'",
   '?',
   'list',
   'the',
   'id',
   'and',
   'name',
   '.'],
  ['select',
   'table_id',
   ',',
   'column',
   'from',
   'table',
   'where',
   'column',
   'like',
   "'",
   '%',
   'ha',
   '%',
   "'"]),
 (['how', 'many', 'farms', 'are', 'there', '?'],
  ['select', 'count', '(', 'column', ')', 'from', 'table']),
 (['count', 'the', 'number', 'of', 'farms', '.'],
  ['select', 'count', '(', 'column', ')', 'from', 'table']),
 (['list',
   'the',
   'total',
   'number',
   'of',
   'horses',
   'on',
   'farms',
   'in',
   'ascending',
   'order',
   '.'],
  ['select', 'column', 'from', 'table', 'order', 'by', 'column', 'asc']),
 (['what',
   'is',
   'the',
   'total',
   'horses',
   'record',
   'for',
   'each',
   'farm',
   ',',
   'sorted',
   'ascending',
   '?'],
  ['select', 'column', 'from', 'table', 'order', 'by', 'column', 'asc']),
 (['what',
   'are',
   'the',
   'hosts',
   'of',
   'competitions',
   'whose',
   'theme',
   'is',
   'not',
   '``',
   'aliens',
   "''",
   '?'],
  ['select',
   'column',
   'from',
   'table_competition',
   'where',
   'column',
   '!',
   '=',
   "'aliens",
   "'"]),
 (['return',
   'the',
   'hosts',
   'of',
   'competitions',
   'for',
   'which',
   'the',
   'theme',
   'is',
   'not',
   'aliens',
   '?'],
  ['select',
   'column',
   'from',
   'table_competition',
   'where',
   'column',
   '!',
   '=',
   "'aliens",
   "'"]),
 (['what',
   'are',
   'the',
   'themes',
   'of',
   'farm',
   'competitions',
   'sorted',
   'by',
   'year',
   'in',
   'ascending',
   'order',
   '?'],
  ['select',
   'column',
   'from',
   'table_competition',
   'order',
   'by',
   'year',
   'asc']),
 (['return',
   'the',
   'themes',
   'of',
   'farm',
   'competitions',
   ',',
   'sorted',
   'by',
   'year',
   'ascending',
   '.'],
  ['select',
   'column',
   'from',
   'table_competition',
   'order',
   'by',
   'year',
   'asc']),
 (['what',
   'is',
   'the',
   'average',
   'number',
   'of',
   'working',
   'horses',
   'of',
   'farms',
   'with',
   'more',
   'than',
   '5000',
   'total',
   'number',
   'of',
   'horses',
   '?'],
  ['select',
   'avg',
   '(',
   'column',
   ')',
   'from',
   'table',
   'where',
   'column',
   '>',
   '5000']),
 (['give',
   'the',
   'average',
   'number',
   'of',
   'working',
   'horses',
   'on',
   'farms',
   'with',
   'more',
   'than',
   '5000',
   'total',
   'horses',
   '.'],
  ['select',
   'avg',
   '(',
   'column',
   ')',
   'from',
   'table',
   'where',
   'column',
   '>',
   '5000']),
 (['what',
   'are',
   'the',
   'maximum',
   'and',
   'minimum',
   'number',
   'of',
   'cows',
   'across',
   'all',
   'farms',
   '.'],
  ['select',
   'max',
   '(',
   'column',
   ')',
   ',',
   'min',
   '(',
   'column',
   ')',
   'from',
   'table']),
 (['return',
   'the',
   'maximum',
   'and',
   'minimum',
   'number',
   'of',
   'cows',
   'across',
   'all',
   'farms',
   '.'],
  ['select',
   'max',
   '(',
   'column',
   ')',
   ',',
   'min',
   '(',
   'column',
   ')',
   'from',
   'table']),
 (['how', 'many', 'different', 'statuses', 'do', 'cities', 'have', '?'],
  ['select', 'count', '(', 'distinct', 'column', ')', 'from', 'table']),
 (['count', 'the', 'number', 'of', 'different', 'statuses', '.'],
  ['select', 'count', '(', 'distinct', 'column', ')', 'from', 'table']),
 (['list',
   'official',
   'names',
   'of',
   'cities',
   'in',
   'descending',
   'order',
   'of',
   'population',
   '.'],
  ['select', 'column', 'from', 'table', 'order', 'by', 'column', 'desc']),
 (['what',
   'are',
   'the',
   'official',
   'names',
   'of',
   'cities',
   ',',
   'ordered',
   'descending',
   'by',
   'population',
   '?'],
  ['select', 'column', 'from', 'table', 'order', 'by', 'column', 'desc']),
 (['list',
   'the',
   'official',
   'name',
   'and',
   'status',
   'of',
   'the',
   'city',
   'with',
   'the',
   'largest',
   'population',
   '.'],
  ['select',
   'column',
   ',',
   'column',
   'from',
   'table',
   'order',
   'by',
   'column',
   'desc',
   'limit',
   '1']),
 (['what',
   'is',
   'the',
   'official',
   'name',
   'and',
   'status',
   'of',
   'the',
   'city',
   'with',
   'the',
   'most',
   'residents',
   '?'],
  ['select',
   'column',
   ',',
   'column',
   'from',
   'table',
   'order',
   'by',
   'column',
   'desc',
   'limit',
   '1']),
 (['show',
   'the',
   'years',
   'and',
   'the',
   'official',
   'names',
   'of',
   'the',
   'host',
   'cities',
   'of',
   'competitions',
   '.'],
  ['select',
   't2.column',
   ',',
   't1.column',
   'from',
   'table',
   'as',
   't1',
   'join',
   'table_competition',
   'as',
   't2',
   'on',
   't1.column',
   '=',
   't2.host_table_id']),
 (['give',
   'the',
   'years',
   'and',
   'official',
   'names',
   'of',
   'the',
   'cities',
   'of',
   'each',
   'competition',
   '.'],
  ['select',
   't2.column',
   ',',
   't1.column',
   'from',
   'table',
   'as',
   't1',
   'join',
   'table_competition',
   'as',
   't2',
   'on',
   't1.column',
   '=',
   't2.host_table_id']),
 (['show',
   'the',
   'official',
   'names',
   'of',
   'the',
   'cities',
   'that',
   'have',
   'hosted',
   'more',
   'than',
   'one',
   'competition',
   '.'],
  ['select',
   't1.column',
   'from',
   'table',
   'as',
   't1',
   'join',
   'table_competition',
   'as',
   't2',
   'on',
   't1.column',
   '=',
   't2.host_table_id',
   'group',
   'by',
   't2.host_table_id',
   'having',
   'count',
   '(',
   'column',
   ')',
   '>',
   '1']),
 (['what',
   'are',
   'the',
   'official',
   'names',
   'of',
   'cities',
   'that',
   'have',
   'hosted',
   'more',
   'than',
   'one',
   'competition',
   '?'],
  ['select',
   't1.column',
   'from',
   'table',
   'as',
   't1',
   'join',
   'table_competition',
   'as',
   't2',
   'on',
   't1.column',
   '=',
   't2.host_table_id',
   'group',
   'by',
   't2.host_table_id',
   'having',
   'count',
   '(',
   'column',
   ')',
   '>',
   '1']),
 (['show',
   'the',
   'status',
   'of',
   'the',
   'city',
   'that',
   'has',
   'hosted',
   'the',
   'greatest',
   'number',
   'of',
   'competitions',
   '.'],
  ['select',
   't1.column',
   'from',
   'table',
   'as',
   't1',
   'join',
   'table_competition',
   'as',
   't2',
   'on',
   't1.column',
   '=',
   't2.host_table_id',
   'group',
   'by',
   't2.host_table_id',
   'order',
   'by',
   'count',
   '(',
   'column',
   ')',
   'desc',
   'limit',
   '1']),
 (['what',
   'is',
   'the',
   'status',
   'of',
   'the',
   'city',
   'that',
   'has',
   'hosted',
   'the',
   'most',
   'competitions',
   '?'],
  ['select',
   't1.column',
   'from',
   'table',
   'as',
   't1',
   'join',
   'table_competition',
   'as',
   't2',
   'on',
   't1.column',
   '=',
   't2.host_table_id',
   'group',
   'by',
   't2.host_table_id',
   'order',
   'by',
   'count',
   '(',
   'column',
   ')',
   'desc',
   'limit',
   '1']),
 (['please',
   'show',
   'the',
   'themes',
   'of',
   'competitions',
   'with',
   'host',
   'cities',
   'having',
   'populations',
   'larger',
   'than',
   '1000',
   '.'],
  ['select',
   't2.column',
   'from',
   'table',
   'as',
   't1',
   'join',
   'table_competition',
   'as',
   't2',
   'on',
   't1.column',
   '=',
   't2.host_table_id',
   'where',
   't1.column',
   '>',
   '1000']),
 (['what',
   'are',
   'the',
   'themes',
   'of',
   'competitions',
   'that',
   'have',
   'corresponding',
   'host',
   'cities',
   'with',
   'more',
   'than',
   '1000',
   'residents',
   '?'],
  ['select',
   't2.column',
   'from',
   'table',
   'as',
   't1',
   'join',
   'table_competition',
   'as',
   't2',
   'on',
   't1.column',
   '=',
   't2.host_table_id',
   'where',
   't1.column',
   '>',
   '1000']),
 (['please',
   'show',
   'the',
   'different',
   'statuses',
   'of',
   'cities',
   'and',
   'the',
   'average',
   'population',
   'of',
   'cities',
   'with',
   'each',
   'status',
   '.'],
  ['select',
   'column',
   ',',
   'avg',
   '(',
   'column',
   ')',
   'from',
   'table',
   'group',
   'by',
   'column']),
 (['what',
   'are',
   'the',
   'statuses',
   'and',
   'average',
   'populations',
   'of',
   'each',
   'city',
   '?'],
  ['select',
   'column',
   ',',
   'avg',
   '(',
   'column',
   ')',
   'from',
   'table',
   'group',
   'by',
   'column']),
 (['please',
   'show',
   'the',
   'different',
   'statuses',
   ',',
   'ordered',
   'by',
   'the',
   'number',
   'of',
   'cities',
   'that',
   'have',
   'each',
   '.'],
  ['select',
   'column',
   'from',
   'table',
   'group',
   'by',
   'column',
   'order',
   'by',
   'count',
   '(',
   'column',
   ')',
   'asc']),
 (['return',
   'the',
   'different',
   'statuses',
   'of',
   'cities',
   ',',
   'ascending',
   'by',
   'frequency',
   '.'],
  ['select',
   'column',
   'from',
   'table',
   'group',
   'by',
   'column',
   'order',
   'by',
   'count',
   '(',
   'column',
   ')',
   'asc']),
 (['list',
   'the',
   'most',
   'common',
   'type',
   'of',
   'status',
   'across',
   'cities',
   '.'],
  ['select',
   'column',
   'from',
   'table',
   'group',
   'by',
   'column',
   'order',
   'by',
   'count',
   '(',
   'column',
   ')',
   'desc',
   'limit',
   '1']),
 (['what',
   'is',
   'the',
   'most',
   'common',
   'status',
   'across',
   'all',
   'cities',
   '?'],
  ['select',
   'column',
   'from',
   'table',
   'group',
   'by',
   'column',
   'order',
   'by',
   'count',
   '(',
   'column',
   ')',
   'desc',
   'limit',
   '1']),
 (['list',
   'the',
   'official',
   'names',
   'of',
   'cities',
   'that',
   'have',
   'not',
   'held',
   'any',
   'competition',
   '.'],
  ['select',
   'column',
   'from',
   'table',
   'where',
   'column',
   'not',
   'in',
   '(',
   'select',
   'host_table_id',
   'from',
   'table_competition',
   ')']),
 (['what',
   'are',
   'the',
   'official',
   'names',
   'of',
   'cities',
   'that',
   'have',
   'not',
   'hosted',
   'a',
   'farm',
   'competition',
   '?'],
  ['select',
   'column',
   'from',
   'table',
   'where',
   'column',
   'not',
   'in',
   '(',
   'select',
   'host_table_id',
   'from',
   'table_competition',
   ')']),
 (['show',
   'the',
   'status',
   'shared',
   'by',
   'cities',
   'with',
   'population',
   'bigger',
   'than',
   '1500',
   'and',
   'smaller',
   'than',
   '500',
   '.'],
  ['select',
   'column',
   'from',
   'table',
   'where',
   'column',
   '>',
   '1500',
   'intersect',
   'select',
   'column',
   'from',
   'table',
   'where',
   'column',
   '<',
   '500']),
 (['which',
   'statuses',
   'correspond',
   'to',
   'both',
   'cities',
   'that',
   'have',
   'a',
   'population',
   'over',
   '1500',
   'and',
   'cities',
   'that',
   'have',
   'a',
   'population',
   'lower',
   'than',
   '500',
   '?'],
  ['select',
   'column',
   'from',
   'table',
   'where',
   'column',
   '>',
   '1500',
   'intersect',
   'select',
   'column',
   'from',
   'table',
   'where',
   'column',
   '<',
   '500']),
 (['find',
   'the',
   'official',
   'names',
   'of',
   'cities',
   'with',
   'population',
   'bigger',
   'than',
   '1500',
   'or',
   'smaller',
   'than',
   '500',
   '.'],
  ['select',
   'column',
   'from',
   'table',
   'where',
   'column',
   '>',
   '1500',
   'or',
   'column',
   '<',
   '500']),
 (['what',
   'are',
   'the',
   'official',
   'names',
   'of',
   'cities',
   'that',
   'have',
   'population',
   'over',
   '1500',
   'or',
   'less',
   'than',
   '500',
   '?'],
  ['select',
   'column',
   'from',
   'table',
   'where',
   'column',
   '>',
   '1500',
   'or',
   'column',
   '<',
   '500']),
 (['show',
   'the',
   'census',
   'ranking',
   'of',
   'cities',
   'whose',
   'status',
   'are',
   'not',
   '``',
   'village',
   "''",
   '.'],
  ['select',
   'column',
   'from',
   'table',
   'where',
   'column',
   '!',
   '=',
   '``',
   'village',
   "''"]),
 (['what',
   'are',
   'the',
   'census',
   'rankings',
   'of',
   'cities',
   'that',
   'do',
   'not',
   'have',
   'the',
   'status',
   '``',
   'village',
   "''",
   '?'],
  ['select',
   'column',
   'from',
   'table',
   'where',
   'column',
   '!',
   '=',
   '``',
   'village',
   "''"]),
 (['which',
   'course',
   'has',
   'most',
   'number',
   'of',
   'registered',
   'students',
   '?'],
  ['select',
   't1.column',
   'from',
   'courses',
   'as',
   't1',
   'join',
   'student_course_registrations',
   'as',
   't2',
   'on',
   't1.column',
   '=',
   't2.course_id',
   'group',
   'by',
   't1.column',
   'order',
   'by',
   'count',
   '(',
   'column',
   ')',
   'desc',
   'limit',
   '1']),
 (['what',
   'is',
   'the',
   'name',
   'of',
   'the',
   'course',
   'with',
   'the',
   'most',
   'registered',
   'students',
   '?'],
  ['select',
   't1.column',
   'from',
   'courses',
   'as',
   't1',
   'join',
   'student_course_registrations',
   'as',
   't2',
   'on',
   't1.column',
   '=',
   't2.course_id',
   'group',
   'by',
   't1.column',
   'order',
   'by',
   'count',
   '(',
   'column',
   ')',
   'desc',
   'limit',
   '1']),
 (['what',
   'is',
   'id',
   'of',
   'students',
   'who',
   'registered',
   'some',
   'courses',
   'but',
   'the',
   'least',
   'number',
   'of',
   'courses',
   'in',
   'these',
   'students',
   '?'],
  ['select',
   'column',
   'from',
   'student_course_registrations',
   'group',
   'by',
   'column',
   'order',
   'by',
   'count',
   '(',
   'column',
   ')',
   'limit',
   '1']),
 (['what',
   'are',
   'the',
   'ids',
   'of',
   'the',
   'students',
   'who',
   'registered',
   'for',
   'some',
   'courses',
   'but',
   'had',
   'the',
   'least',
   'number',
   'of',
   'courses',
   'for',
   'all',
   'students',
   '?'],
  ['select',
   'column',
   'from',
   'student_course_registrations',
   'group',
   'by',
   'column',
   'order',
   'by',
   'count',
   '(',
   'column',
   ')',
   'limit',
   '1']),

In [ ]:
vocab

{'how': 1,
 'many': 2,
 'heads': 3,
 'of': 4,
 'the': 5,
 'departments': 6,
 'are': 7,
 'older': 8,
 'than': 9,
 '56': 10,
 '?': 11,
 'select': 12,
 'count': 13,
 '(': 14,
 'column': 15,
 ')': 16,
 'from': 17,
 'table': 18,
 'where': 19,
 '>': 20,
 'list': 21,
 'name': 22,
 ',': 23,
 'born': 24,
 'state': 25,
 'and': 26,
 'age': 27,
 'ordered': 28,
 'by': 29,
 '.': 30,
 'order': 31,
 'creation': 32,
 'year': 33,
 'budget': 34,
 'each': 35,
 'department': 36,
 'budget_in_billions': 37,
 'what': 38,
 'maximum': 39,
 'minimum': 40,
 'max': 41,
 'min': 42,
 'is': 43,
 'average': 44,
 'number': 45,
 'employees': 46,
 'whose': 47,
 'rank': 48,
 'between': 49,
 '10': 50,
 '15': 51,
 'avg': 52,
 'num_employees': 53,
 'ranking': 54,
 'names': 55,
 'who': 56,
 'outside': 57,
 'california': 58,
 '!': 59,
 '=': 60,
 "'california": 61,
 "'": 62,
 'distinct': 63,
 'years': 64,
 'managed': 65,
 'a': 66,
 'secretary': 67,
 'in': 68,
 "'alabama": 69,
 't1.creation': 70,
 'as': 71,
 't1': 72,
 'join': 73,
 't2': 74,
 'on': 75,
 't1.table_id': 76,
 't2.table_id': 77,
 't3': 78,
 't3.table_id': 79,
 't3.column': 80,
 'states': 81,
 'at': 82,
 'least': 83,
 '3': 84,
 'were': 85,
 'group': 86,
 'having': 87,
 'which': 88,
 'most': 89,
 'established': 90,
 'desc': 91,
 'limit': 92,
 '1': 93,
 'show': 94,
 'for': 95,
 'temporary': 96,
 'acting': 97,
 'value': 98,
 "'yes": 99,
 't1.column': 100,
 't1.num_employees': 101,
 't2.column': 102,
 'statuses': 103,
 'there': 104,
 'led': 105,
 'not': 106,
 'mentioned': 107,
 'table_id': 108,
 ';': 109,
 'ages': 110,
 'both': 111,
 "'treasury": 112,
 "'homeland": 113,
 'security': 114,
 'intersect': 115,
 'has': 116,
 'more': 117,
 'head': 118,
 'time': 119,
 'id': 120,
 "'s": 121,
 'substring': 122,
 "'ha": 123,
 'like': 124,
 '%': 125,
 'ha': 126,
 'farms': 127,
 'total': 128,
 'horses': 129,
 'ascending': 130,
 'asc': 131,
 'record': 132,
 'farm': 133,
 'sorted': 134,
 'hosts': 135,
 'competitions': 136,
 'theme': 137,
 '``': 138,
 'aliens': 139,
 "''": 140,
 'table_competition': 141,
 "'aliens": 142,
 'return': 143,
 'themes': 144,
 'working': 145,
 'with': 146,
 '5000': 147,
 'give': 148,
 'cows': 149,
 'across': 150,
 'all': 151,
 'different': 152,
 'do': 153,
 'cities': 154,
 'have': 155,
 'official': 156,
 'descending': 157,
 'population': 158,
 'status': 159,
 'city': 160,
 'largest': 161,
 'residents': 162,
 'host': 163,
 't2.host_table_id': 164,
 'competition': 165,
 'that': 166,
 'hosted': 167,
 'one': 168,
 'greatest': 169,
 'please': 170,
 'populations': 171,
 'larger': 172,
 '1000': 173,
 'corresponding': 174,
 'frequency': 175,
 'common': 176,
 'type': 177,
 'held': 178,
 'any': 179,
 'host_table_id': 180,
 'shared': 181,
 'bigger': 182,
 '1500': 183,
 'smaller': 184,
 '500': 185,
 '<': 186,
 'correspond': 187,
 'to': 188,
 'over': 189,
 'lower': 190,
 'find': 191,
 'or': 192,
 'less': 193,
 'census': 194,
 'village': 195,
 'rankings': 196,
 'course': 197,
 'registered': 198,
 'students': 199,
 'courses': 200,
 'student_course_registrations': 201,
 't2.course_id': 202,
 'some': 203,
 'but': 204,
 'these': 205,
 'ids': 206,
 'had': 207,
 'first': 208,
 'last': 209,
 'candidates': 210,
 'people': 211,
 'never': 212,
 'attends': 213,
 'student_course_attendance': 214,
 'every': 215,
 'student': 216,
 'attended': 217,
 'those': 218,
 'detail': 219,
 'recently': 220,
 'details': 221,
 'we': 222,
 'attend': 223,
 'english': 224,
 'attending': 225,
 '171': 226,
 'does': 227,
 'actually': 228,
 'candidate': 229,
 'email': 230,
 'stanley.monahan': 231,
 '@': 232,
 'example.org': 233,
 'accessed': 234,
 'candidate_assessments': 235,
 'their': 236,
 'they': 237,
 'registed': 238,
 'assessment': 239,
 'code': 240,
 'pass': 241,
 'an': 242,
 'outcome': 243,
 'cell': 244,
 'mobile': 245,
 'fail': 246,
 'phone': 247,
 'numbers': 248,
 'received': 249,
 '301': 250,
 'addresses': 251,
 'people_addresses': 252,
 'live': 253,
 'address': 254,
 'alphabetical': 255,
 'union': 256,
 'either': 257,
 '121': 258,
 'info': 259,
 'did': 260,
 'statistics': 261,
 'registration': 262,
 'date': 263,
 'attendance': 264,
 'me': 265,
 'dates': 266,
 'when': 267,
 'temperature': 268,
 'was': 269,
 'higher': 270,
 '85': 271,
 'stations': 272,
 'latitude': 273,
 '37.5': 274,
 'highest': 275,
 'among': 276,
 'its': 277,
 'start': 278,
 'station': 279,
 'end': 280,
 'trips': 281,
 'three': 282,
 'oldest': 283,
 'start_table_column': 284,
 'end_table_column': 285,
 'smallest': 286,
 'longitude': 287,
 'located': 288,
 'san': 289,
 'jose': 290,
 'trip': 291,
 'shortest': 292,
 'duration': 293,
 'bike': 294,
 '636': 295,
 'sum': 296,
 'bike_column': 297,
 'zip': 298,
 'mean': 299,
 'august': 300,
 '8/': 301,
 '8': 302,
 'unique': 303,
 'bikes': 304,
 'mountain': 305,
 'view': 306,
 'ever': 307,
 '7': 308,
 'available': 309,
 't2.table_column': 310,
 'starting': 311,
 'traveled': 312,
 'often': 313,
 '94002': 314,
 'days': 315,
 'humidity': 316,
 'above': 317,
 '50': 318,
 'visibility': 319,
 'mean_humcolumnity': 320,
 'humity': 321,
 'started': 322,
 't2.start_table_column': 323,
 'francisco': 324,
 'availability': 325,
 'table_column': 326,
 'normally': 327,
 '14': 328,
 'installed': 329,
 'december': 330,
 'instalcolumnion_column': 331,
 '12/': 332,
 'cloud': 333,
 'cover': 334,
 'rates': 335,
 'region': 336,
 '94107': 337,
 'covers': 338,
 'sea': 339,
 'level': 340,
 'pressure': 341,
 'lowest': 342,
 'palo': 343,
 'alto': 344,
 'availablility': 345,
 'reach': 346,
 '80': 347,
 'codes': 348,
 'greater': 349,
 'equal': 350,
 'it': 351,
 'took': 352,
 'place': 353,
 'area': 354,
 '60': 355,
 'times': 356,
 'wind': 357,
 'speed': 358,
 'reached': 359,
 '25': 360,
 'mph': 361,
 'day': 362,
 'dew': 363,
 'point': 364,
 'measurements': 365,
 'taken': 366,
 'ending': 367,
 'installation': 368,
 't2.instalcolumnion_column': 369,
 't1.end_table_column': 370,
 'dock': 371,
 't1.start_table_column': 372,
 'neither': 373,
 'fog': 374,
 'nor': 375,
 'rain': 376,
 'observed': 377,
 'events': 378,
 'been': 379,
 'foggy': 380,
 'rained': 381,
 '37.4': 382,
 'below': 383,
 'except': 384,
 'furthest': 385,
 'south': 386,
 'top': 387,
 'gust': 388,
 'speeds': 389,
 '200': 390,
 'beginning': 391,
 'visiblity': 392,
 'decreasing': 393,
 '5': 394,
 'also': 395,
 'tell': 396,
 'rate': 397,
 'durations': 398,
 'lasted': 399,
 'longest': 400,
 'long': 401,
 'ended': 402,
 't2.end_table_column': 403,
 '100': 404,
 '70': 405,
 'always': 406,
 '94103': 407,
 '30.3': 408,
 '31': 409,
 'difference': 410,
 'report': 411,
 '-': 412,
 'range': 413,
 '12': 414,
 'come': 415,
 'through': 416,
 't4': 417,
 't4.column': 418,
 't4.end_table_column': 419,
 'stated': 420,
 'points': 421,
 'books': 422,
 'writers': 423,
 'titles': 424,
 'issues': 425,
 'writer': 426,
 'elaine': 427,
 'lee': 428,
 'title': 429,
 'publications': 430,
 'price': 431,
 'publishers': 432,
 '5000000': 433,
 'publisher': 434,
 'publication': 435,
 'prices': 436,
 'published': 437,
 'book': 438,
 '4000000': 439,
 'together': 440,
 'written': 441,
 '10000000': 442,
 'our': 443,
 'person': 444,
 'wiley': 445,
 'actors': 446,
 'alphabetically': 447,
 'characters': 448,
 'actor': 449,
 '20': 450,
 'old': 451,
 'musicals': 452,
 'nominee': 453,
 'bob': 454,
 'fosse': 455,
 'nominees': 456,
 'award': 457,
 'tony': 458,
 'appeared': 459,
 'musical': 460,
 'phantom': 461,
 'opera': 462,
 'titled': 463,
 'awarded': 464,
 'nominated': 465,
 'result': 466,
 'frequent': 467,
 'two': 468,
 '2': 469,
 'no': 470,
 'drama': 471,
 'desk': 472,
 'cleavant': 473,
 'derricks': 474,
 'awards': 475,
 'emails': 476,
 'user': 477,
 'named': 478,
 'mary': 479,
 "'mary": 480,
 'partition': 481,
 'iron': 482,
 'man': 483,
 'partitioncolumn': 484,
 "'iron": 485,
 'users': 486,
 'followers': 487,
 'tweets': 488,
 'posted': 489,
 'uid': 490,
 'contains': 491,
 'word': 492,
 '‘': 493,
 'swift': 494,
 '’': 495,
 'contain': 496,
 'superstar': 497,
 'edu': 498,
 'text': 499,
 'about': 500,
 'topic': 501,
 "'intern": 502,
 'intern': 503,
 'tyler': 504,
 't1.ucolumn': 505,
 "'tyler": 506,
 'follower': 507,
 'tweet': 508,
 't2.ucolumn': 509,
 'followed': 510,
 'susan': 511,
 'sort': 512,
 'results': 513,
 'other': 514,
 'tweeted': 515,
 'them': 516,
 'twice': 517,
 't1.partitioncolumn': 518,
 'once': 519,
 'catalog': 520,
 'entries': 521,
 'catalog_contents': 522,
 'entry': 523,
 'attribute': 524,
 'data': 525,
 'types': 526,
 'possessed': 527,
 'definitions': 528,
 'green': 529,
 'structure': 530,
 'murray': 531,
 'catalogs': 532,
 'catalog_structure': 533,
 'table_additional_attributes': 534,
 'expensive': 535,
 'usd': 536,
 'cheapest': 537,
 'euro': 538,
 'products': 539,
 'product': 540,
 'height': 541,
 'content': 542,
 'capacity': 543,
 'stock': 544,
 'starts': 545,
 'contents': 546,
 'length': 547,
 '0': 548,
 '700': 549,
 'dollars': 550,
 'capacities': 551,
 'revisions': 552,
 'made': 553,
 'records': 554,
 'next': 555,
 'aircrafts': 556,
 'aircraft': 557,
 'exist': 558,
 'database': 559,
 'distance': 560,
 'distances': 561,
 'airplanes': 562,
 'can': 563,
 'lengthes': 564,
 'employee': 565,
 'salary': 566,
 '100000': 567,
 '200000': 568,
 '242518965': 569,
 'salaries': 570,
 'get': 571,
 'paid': 572,
 'mark': 573,
 'young': 574,
 "'mark": 575,
 'flights': 576,
 'flight': 577,
 'origin': 578,
 'destination': 579,
 'departure': 580,
 'los': 581,
 'angeles': 582,
 'coming': 583,
 'origins': 584,
 'honolulu': 585,
 'headed': 586,
 'arrival': 587,
 'la': 588,
 '2000': 589,
 '300': 590,
 'came': 591,
 'destinations': 592,
 'fewest': 593,
 '99': 594,
 'airbus': 595,
 'a340-300': 596,
 'complete': 597,
 'certificate': 598,
 'certificates': 599,
 "n't": 600,
 'john': 601,
 'williams': 602,
 'be': 603,
 'able': 604,
 'fly': 605,
 'boeing': 606,
 '737-800': 607,
 'certified': 608,
 '737-800s': 609,
 'salaray': 610,
 'planes': 611,
 'allergies': 612,
 'allergy': 613,
 'column_type': 614,
 'allergytype': 615,
 'food': 616,
 'cat': 617,
 'animal': 618,
 'lname': 619,
 'full': 620,
 'advisors': 621,
 'listed': 622,
 'advisor': 623,
 'majors': 624,
 'female': 625,
 'sex': 626,
 'f': 627,
 'male': 628,
 "'m": 629,
 '18': 630,
 'kim': 631,
 'family': 632,
 'lives': 633,
 '1004': 634,
 'advises': 635,
 'hkg': 636,
 'chi': 637,
 'living': 638,
 'youngest': 639,
 'provide': 640,
 'corresponds': 641,
 'major': 642,
 'has_allergy': 643,
 'affected': 644,
 'unaffected': 645,
 'milk': 646,
 'egg': 647,
 't2.sex': 648,
 't1.allergy': 649,
 'eggs': 650,
 'allergic': 651,
 't2.allergy': 652,
 't2.allergytype': 653,
 'related': 654,
 'lisa': 655,
 't1.columntype': 656,
 'girl': 657,
 'gender': 658,
 'fname': 659,
 'put': 660,
 'up': 661,
 'cats': 662,
 'allery': 663,
 'm': 664,
 't1.fname': 665,
 't1.stuid': 666,
 't2.stuid': 667,
 'allegry': 668,
 'soy': 669,
 'consume': 670,
 'countries': 671,
 'invoices': 672,
 'country': 673,
 'billing_column': 674,
 'gross/total': 675,
 'invoice': 676,
 'size': 677,
 'gross': 678,
 'sizes': 679,
 'out': 680,
 'customers': 681,
 'purchased': 682,
 'something': 683,
 't1.first_column': 684,
 't1.last_column': 685,
 't2.customer_column': 686,
 'orders': 687,
 'make': 688,
 'sales': 689,
 'genres': 690,
 'tracks': 691,
 't2.genre_column': 692,
 'genre': 693,
 'album': 694,
 'albums': 695,
 'amount': 696,
 'chicago': 697,
 'il': 698,
 'money': 699,
 'billed': 700,
 'illinois': 701,
 'us': 702,
 'grouped': 703,
 'usa': 704,
 'ca': 705,
 'aerosmith': 706,
 't1.artist_column': 707,
 'billy': 708,
 'cobham': 709,
 'cobam': 710,
 'released': 711,
 'eduardo': 712,
 'martins': 713,
 'customer': 714,
 'company': 715,
 'first_column': 716,
 'last_column': 717,
 'astrid': 718,
 'gruber': 719,
 'astrcolumn': 720,
 'prague': 721,
 'roberto': 722,
 'almeida': 723,
 'almecolumna': 724,
 'aritist': 725,
 "'led": 726,
 't2.artist_column': 727,
 'artist': 728,
 'phrase': 729,
 'steve': 730,
 'johnson': 731,
 'support': 732,
 't2.support_rep_column': 733,
 'supports': 734,
 'hire': 735,
 'nancy': 736,
 'edwards': 737,
 't2.first_column': 738,
 't2.last_column': 739,
 'reports': 740,
 'supported': 741,
 'canada': 742,
 'si': 743,
 'work': 744,
 'longest-serving': 745,
 'staff': 746,
 "'it": 747,
 'manage': 748,
 'peoples': 749,
 'lucas': 750,
 'mancini': 751,
 'luca': 752,
 'his': 753,
 'spent': 754,
 'much': 755,
 'spend': 756,
 'media': 757,
 'playlist': 758,
 'playlists': 759,
 'composer': 760,
 'track': 761,
 'fast': 762,
 'shark': 763,
 'created': 764,
 'milliseconds': 765,
 'rock': 766,
 'balls': 767,
 'wall': 768,
 'belongs': 769,
 'ball': 770,
 't2.album_column': 771,
 'mpeg': 772,
 'audio': 773,
 'file': 774,
 't2.media_type_column': 775,
 'stored': 776,
 'files': 777,
 'belong': 778,
 'jazz': 779,
 'songs': 780,
 'movies': 781,
 'playlist_table': 782,
 't2.track_column': 783,
 't2.playlist_column': 784,
 't1.playlist_column': 785,
 't1.track_column': 786,
 'bought': 787,
 'daan': 788,
 'peeters': 789,
 't2.invoice_column': 790,
 't3.customer_column': 791,
 't4.first_column': 792,
 't4.last_column': 793,
 'dean': 794,
 'unit': 795,
 'tune': 796,
 'music': 797,
 "'movies": 798,
 "'music": 799,
 'editors': 800,
 '24': 801,
 'editor': 802,
 'along': 803,
 'journals': 804,
 'serve': 805,
 'committees': 806,
 'table_committee': 807,
 'journal_committee': 808,
 'journal': 809,
 't2.age': 810,
 'committee': 811,
 '3000': 812,
 'serving': 813,
 't1.date': 814,
 't1.theme': 815,
 't1.sales': 816,
 "'photo": 817,
 't2.work_type': 818,
 'accounts': 819,
 'account': 820,
 '338': 821,
 '162': 822,
 'art': 823,
 'turcotte': 824,
 'this': 825,
 'without': 826,
 'hold': 827,
 'phones': 828,
 'aniyah': 829,
 'feest': 830,
 'cards': 831,
 'table_cards': 832,
 'card': 833,
 'valid': 834,
 "'4560596484842": 835,
 '4560596484842': 836,
 'debit': 837,
 'credit': 838,
 'blanche': 839,
 'huels': 840,
 'owned': 841,
 'he': 842,
 'well': 843,
 'holding': 844,
 'firstname': 845,
 'transaction': 846,
 'transactions': 847,
 'financial_transactions': 848,
 'processed': 849,
 'financial': 850,
 'location': 851,
 'locations': 852,
 'seatings': 853,
 'seating': 854,
 'opened': 855,
 'after': 856,
 'year_opened': 857,
 'recent': 858,
 'open': 859,
 'opening': 860,
 'races': 861,
 'classes': 862,
 'class': 863,
 'race': 864,
 "'gt": 865,
 't2.name': 866,
 't1.class': 867,
 '4000': 868,
 't1.name': 869,
 't2.location': 870,
 'exactly': 871,
 '90000': 872,
 'seats': 873,
 '70000': 874,
 'fewer': 875,
 'members': 876,
 'black': 877,
 'membership': 878,
 "'black": 879,
 'harford': 880,
 'waterbury': 881,
 "'harford": 882,
 "'waterbury": 883,
 'under': 884,
 '30': 885,
 'purchase': 886,
 'member': 887,
 'younger': 888,
 '40': 889,
 'hartford': 890,
 'ones': 891,
 'tableship_card': 892,
 "'hartford": 893,
 'shop': 894,
 'open_year': 895,
 'score': 896,
 'shops': 897,
 'num_of_staff': 898,
 'happy': 899,
 'hour': 900,
 'may': 901,
 't1.address': 902,
 'month': 903,
 "'may": 904,
 'frequently': 905,
 'hours': 906,
 'months': 907,
 'information': 908,
 'ny': 909,
 'calgary': 910,
 'firstcolumn': 911,
 'lastcolumn': 912,
 'billing': 913,
 'billingcolumn': 914,
 'artists': 915,
 'letter': 916,
 'ac/dc': 917,
 't1.tableid': 918,
 't2.tableid': 919,
 'hom': 920,
 'metallica': 921,
 'you': 922,
 'mediatype': 923,
 'containing': 924,
 'part': 925,
 'luisg': 926,
 'embraer.com.br': 927,
 'gmail.com': 928,
 'helps': 929,
 'leonie': 930,
 't2.firstcolumn': 931,
 't2.lastcolumn': 932,
 't1.firstcolumn': 933,
 'help': 934,
 'postal': 935,
 '70174': 936,
 't2.tabledate': 937,
 'totals': 938,
 't1.lastcolumn': 939,
 't2.total': 940,
 'exceeding': 941,
 'brazil': 942,
 't1.country': 943,
 'germany': 944,
 'aac': 945,
 'latin': 946,
 'pop': 947,
 'millisecond': 948,
 'rep': 949,
 'serves': 950,
 'lengths': 951,
 'birth': 952,
 'edmonton': 953,
 'artistid': 954,
 'cound': 955,
 "'reggae": 956,
 "'rock": 957,
 't3.tableid': 958,
 'reggae': 959,
 'customer_phone': 960,
 'available_policies': 961,
 'policy': 962,
 'life': 963,
 'insurance': 964,
 'using': 965,
 'appears': 966,
 'policies': 967,
 'popular': 968,
 'used': 969,
 '4': 970,
 'use': 971,
 'settlements': 972,
 'settlement_amount': 973,
 'settlement': 974,
 'amounts': 975,
 'services': 976,
 'notification': 977,
 'loss': 978,
 't2.service_name': 979,
 'first_notification_of_loss': 980,
 't1.service_id': 981,
 't2.service_id': 982,
 'service': 983,
 'effective': 984,
 'claim': 985,
 'claims': 986,
 't1.claim_id': 987,
 't2.claim_id': 988,
 't2.settlement_amount': 989,
 'dayana': 990,
 'robel': 991,
 'customers_policies': 992,
 't1.customer_id': 993,
 't2.customer_id': 994,
 't1.customer_name': 995,
 'uses': 996,
 't2.policy_id': 997,
 't3.policy_id': 998,
 'enrolled': 999,
 'service_name': 1000,
 ...}

In [ ]:
def convert_to_ids(sequences, vocab):
    numerical_data = []
    for question_tokens, sql_tokens in sequences:
        question_ids = [vocab[token] for token in question_tokens if token in vocab]
        sql_ids = [vocab[token] for token in sql_tokens if token in vocab]
        numerical_data.append((question_ids, sql_ids))
    return numerical_data

In [ ]:
numerical_data = convert_to_ids(sequences, vocab)

In [ ]:
print("Sample preprocessed data:", numerical_data[:5])

Sample preprocessed data: [([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], [12, 13, 14, 15, 16, 17, 18, 19, 15, 20, 10]), ([21, 5, 22, 23, 24, 25, 26, 27, 4, 5, 3, 4, 6, 28, 29, 27, 30], [12, 15, 23, 15, 23, 15, 17, 18, 31, 29, 15]), ([21, 5, 32, 33, 23, 22, 26, 34, 4, 35, 36, 30], [12, 32, 23, 15, 23, 37, 17, 18]), ([38, 7, 5, 39, 26, 40, 34, 4, 5, 6, 11], [12, 41, 14, 37, 16, 23, 42, 14, 37, 16, 17, 18]), ([38, 43, 5, 44, 45, 4, 46, 4, 5, 6, 47, 48, 43, 49, 50, 26, 51, 11], [12, 52, 14, 53, 16, 17, 18, 19, 54, 49, 50, 26, 51])]

### Dataset

In [ ]:
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import DataLoader, Dataset

In [ ]:
# Configuration
INPUT_DIM = 1000   # Adjust as per your vocabulary size
OUTPUT_DIM = 1000  # Adjust as per your vocabulary size
ENC_EMB_DIM = 256
DEC_EMB_DIM = 256
HID_DIM = 512
ENC_DROPOUT = 0.5
DEC_DROPOUT = 0.5
BATCH_SIZE = 32
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')

In [ ]:
# Encoder
class Encoder(nn.Module):
    def __init__(self, input_dim, emb_dim, hid_dim, dropout):
        super().__init__()
        self.embedding = nn.Embedding(input_dim, emb_dim)
        self.rnn = nn.GRU(emb_dim, hid_dim, bidirectional=True)
        self.fc = nn.Linear(hid_dim * 2, hid_dim)
        self.dropout = nn.Dropout(dropout)

    def forward(self, src):
        embedded = self.dropout(self.embedding(src))
        outputs, hidden = self.rnn(embedded)
        hidden = torch.tanh(self.fc(torch.cat((hidden[-2,:,:], hidden[-1,:,:]), dim=1)))
        return outputs, hidden

# Attention
class Attention(nn.Module):
    def __init__(self, hid_dim):
        super().__init__()
        self.attn = nn.Linear(hid_dim * 3, 1, bias=False)

    def forward(self, hidden, encoder_outputs, mask):
        src_len = encoder_outputs.shape[0]
        hidden = hidden.unsqueeze(1).repeat(1, src_len, 1)
        energy = torch.tanh(self.attn(torch.cat((hidden, encoder_outputs), dim=2)))
        attention = energy.squeeze(2)
        attention = attention.masked_fill(mask == 0, -1e10)
        return torch.softmax(attention, dim=1)

# Decoder
class Decoder(nn.Module):
    def __init__(self, output_dim, emb_dim, hid_dim, dropout, attention):
        super().__init__()
        self.output_dim = output_dim
        self.attention = attention
        self.embedding = nn.Embedding(output_dim, emb_dim)
        self.rnn = nn.GRU(hid_dim + emb_dim, hid_dim)
        self.fc_out = nn.Linear(hid_dim * 3, output_dim)
        self.dropout = nn.Dropout(dropout)

    def forward(self, input, hidden, encoder_outputs, mask):
        input = input.unsqueeze(0)
        embedded = self.dropout(self.embedding(input))
        a = self.attention(hidden, encoder_outputs, mask)
        a = a.unsqueeze(1)
        weighted = torch.bmm(a, encoder_outputs.permute(1, 0, 2))
        weighted = weighted.permute(1, 0, 2)
        rnn_input = torch.cat((embedded, weighted), dim=2)
        output, hidden = self.rnn(rnn_input, hidden.unsqueeze(0))
        assert (output == hidden).all()
        embedded = embedded.squeeze(0)
        output = output.squeeze(0)
        weighted = weighted.squeeze(0)
        prediction = self.fc_out(torch.cat((output, weighted, embedded), dim=1))
        return prediction, hidden.squeeze(0), a.squeeze(1)

In [ ]:
! pip install accelerate

Requirement already satisfied: accelerate in /usr/local/lib/python3.10/dist-packages (0.30.1)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from accelerate) (1.25.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from accelerate) (24.0)
Requirement already satisfied: psutil in /usr/local/lib/python3.10/dist-packages (from accelerate) (5.9.5)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from accelerate) (6.0.1)
Requirement already satisfied: torch>=1.10.0 in /usr/local/lib/python3.10/dist-packages (from accelerate) (2.3.0+cu121)
Requirement already satisfied: huggingface-hub in /usr/local/lib/python3.10/dist-packages (from accelerate) (0.23.1)
Requirement already satisfied: safetensors>=0.3.1 in /usr/local/lib/python3.10/dist-packages (from accelerate) (0.4.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from torch>=1.10.0->accelerate) (3.14.0)
Requirement already satisfied: typing-extensions>=4.8.0 in /usr/local/lib/python3.10/dist-packages (from torch>=1.10.0->accelerate) (4.11.0)
Requirement already satisfied: sympy in /usr/local/lib/python3.10/dist-packages (from torch>=1.10.0->accelerate) (1.12)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from torch>=1.10.0->accelerate) (3.3)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from torch>=1.10.0->accelerate) (3.1.4)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from torch>=1.10.0->accelerate) (2023.6.0)
Requirement already satisfied: nvidia-cuda-nvrtc-cu12==12.1.105 in /usr/local/lib/python3.10/dist-packages (from torch>=1.10.0->accelerate) (12.1.105)
Requirement already satisfied: nvidia-cuda-runtime-cu12==12.1.105 in /usr/local/lib/python3.10/dist-packages (from torch>=1.10.0->accelerate) (12.1.105)
Requirement already satisfied: nvidia-cuda-cupti-cu12==12.1.105 in /usr/local/lib/python3.10/dist-packages (from torch>=1.10.0->accelerate) (12.1.105)
Requirement already satisfied: nvidia-cudnn-cu12==8.9.2.26 in /usr/local/lib/python3.10/dist-packages (from torch>=1.10.0->accelerate) (8.9.2.26)
Requirement already satisfied: nvidia-cublas-cu12==12.1.3.1 in /usr/local/lib/python3.10/dist-packages (from torch>=1.10.0->accelerate) (12.1.3.1)
Requirement already satisfied: nvidia-cufft-cu12==11.0.2.54 in /usr/local/lib/python3.10/dist-packages (from torch>=1.10.0->accelerate) (11.0.2.54)
Requirement already satisfied: nvidia-curand-cu12==10.3.2.106 in /usr/local/lib/python3.10/dist-packages (from torch>=1.10.0->accelerate) (10.3.2.106)
Requirement already satisfied: nvidia-cusolver-cu12==11.4.5.107 in /usr/local/lib/python3.10/dist-packages (from torch>=1.10.0->accelerate) (11.4.5.107)
Requirement already satisfied: nvidia-cusparse-cu12==12.1.0.106 in /usr/local/lib/python3.10/dist-packages (from torch>=1.10.0->accelerate) (12.1.0.106)
Requirement already satisfied: nvidia-nccl-cu12==2.20.5 in /usr/local/lib/python3.10/dist-packages (from torch>=1.10.0->accelerate) (2.20.5)
Requirement already satisfied: nvidia-nvtx-cu12==12.1.105 in /usr/local/lib/python3.10/dist-packages (from torch>=1.10.0->accelerate) (12.1.105)
Requirement already satisfied: triton==2.3.0 in /usr/local/lib/python3.10/dist-packages (from torch>=1.10.0->accelerate) (2.3.0)
Requirement already satisfied: nvidia-nvjitlink-cu12 in /usr/local/lib/python3.10/dist-packages (from nvidia-cusolver-cu12==11.4.5.107->torch>=1.10.0->accelerate) (12.5.40)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from huggingface-hub->accelerate) (2.31.0)
Requirement already satisfied: tqdm>=4.42.1 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub->accelerate) (4.66.4)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->torch>=1.10.0->accelerate) (2.1.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub->accelerate) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub->accelerate) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub->accelerate) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub->accelerate) (2024.2.2)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.10/dist-packages (from sympy->torch>=1.10.0->accelerate) (1.3.0)

In [ ]:
!pip install torch transformers bitsandbytes accelerate sqlparse openai

import torch
from transformers import AutoTokenizer, AutoModelForCausalLM
import re

model_name = "defog/sqlcoder-7b-2"
tokenizer = AutoTokenizer.from_pretrained(model_name)
model = AutoModelForCausalLM.from_pretrained(
    model_name,
    trust_remote_code=True,
    torch_dtype=torch.float16,
    device_map="auto",
    use_cache=True,
)

Requirement already satisfied: torch in /usr/local/lib/python3.10/dist-packages (2.3.0+cu121)
Requirement already satisfied: transformers in /usr/local/lib/python3.10/dist-packages (4.41.0)
Collecting bitsandbytes
  Downloading bitsandbytes-0.43.1-py3-none-manylinux_2_24_x86_64.whl (119.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 119.8/119.8 MB 2.2 MB/s eta 0:00:00
Collecting accelerate
  Downloading accelerate-0.30.1-py3-none-any.whl (302 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 302.6/302.6 kB 14.0 MB/s eta 0:00:00
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (0.5.0)
Collecting openai
  Downloading openai-1.30.2-py3-none-any.whl (320 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 320.7/320.7 kB 27.0 MB/s eta 0:00:00
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from torch) (3.14.0)
Requirement already satisfied: typing-extensions>=4.8.0 in /usr/local/lib/python3.10/dist-packages (from torch) (4.11.0)
Requirement already satisfied: sympy in /usr/local/lib/python3.10/dist-packages (from torch) (1.12)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from torch) (3.3)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from torch) (3.1.4)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from torch) (2023.6.0)
Collecting nvidia-cuda-nvrtc-cu12==12.1.105 (from torch)
  Using cached nvidia_cuda_nvrtc_cu12-12.1.105-py3-none-manylinux1_x86_64.whl (23.7 MB)
Collecting nvidia-cuda-runtime-cu12==12.1.105 (from torch)
  Using cached nvidia_cuda_runtime_cu12-12.1.105-py3-none-manylinux1_x86_64.whl (823 kB)
Collecting nvidia-cuda-cupti-cu12==12.1.105 (from torch)
  Using cached nvidia_cuda_cupti_cu12-12.1.105-py3-none-manylinux1_x86_64.whl (14.1 MB)
Collecting nvidia-cudnn-cu12==8.9.2.26 (from torch)
  Using cached nvidia_cudnn_cu12-8.9.2.26-py3-none-manylinux1_x86_64.whl (731.7 MB)
Collecting nvidia-cublas-cu12==12.1.3.1 (from torch)
  Using cached nvidia_cublas_cu12-12.1.3.1-py3-none-manylinux1_x86_64.whl (410.6 MB)
Collecting nvidia-cufft-cu12==11.0.2.54 (from torch)
  Using cached nvidia_cufft_cu12-11.0.2.54-py3-none-manylinux1_x86_64.whl (121.6 MB)
Collecting nvidia-curand-cu12==10.3.2.106 (from torch)
  Using cached nvidia_curand_cu12-10.3.2.106-py3-none-manylinux1_x86_64.whl (56.5 MB)
Collecting nvidia-cusolver-cu12==11.4.5.107 (from torch)
  Using cached nvidia_cusolver_cu12-11.4.5.107-py3-none-manylinux1_x86_64.whl (124.2 MB)
Collecting nvidia-cusparse-cu12==12.1.0.106 (from torch)
  Using cached nvidia_cusparse_cu12-12.1.0.106-py3-none-manylinux1_x86_64.whl (196.0 MB)
Collecting nvidia-nccl-cu12==2.20.5 (from torch)
  Using cached nvidia_nccl_cu12-2.20.5-py3-none-manylinux2014_x86_64.whl (176.2 MB)
Collecting nvidia-nvtx-cu12==12.1.105 (from torch)
  Using cached nvidia_nvtx_cu12-12.1.105-py3-none-manylinux1_x86_64.whl (99 kB)
Requirement already satisfied: triton==2.3.0 in /usr/local/lib/python3.10/dist-packages (from torch) (2.3.0)
Collecting nvidia-nvjitlink-cu12 (from nvidia-cusolver-cu12==11.4.5.107->torch)
  Downloading nvidia_nvjitlink_cu12-12.5.40-py3-none-manylinux2014_x86_64.whl (21.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.3/21.3 MB 51.9 MB/s eta 0:00:00
Requirement already satisfied: huggingface-hub<1.0,>=0.23.0 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.23.1)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (1.25.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from transformers) (24.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (6.0.1)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (2023.12.25)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from transformers) (2.31.0)
Requirement already satisfied: tokenizers<0.20,>=0.19 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.19.1)
Requirement already satisfied: safetensors>=0.4.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.4.3)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.10/dist-packages (from transformers) (4.66.4)
Requirement already satisfied: psutil in /usr/local/lib/python3.10/dist-packages (from accelerate) (5.9.5)
Requirement already satisfied: anyio<5,>=3.5.0 in /usr/local/lib/python3.10/dist-packages (from openai) (3.7.1)
Requirement already satisfied: distro<2,>=1.7.0 in /usr/lib/python3/dist-packages (from openai) (1.7.0)
Collecting httpx<1,>=0.23.0 (from openai)
  Downloading httpx-0.27.0-py3-none-any.whl (75 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 75.6/75.6 kB 9.4 MB/s eta 0:00:00
Requirement already satisfied: pydantic<3,>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from openai) (2.7.1)
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from openai) (1.3.1)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.10/dist-packages (from anyio<5,>=3.5.0->openai) (3.7)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio<5,>=3.5.0->openai) (1.2.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from httpx<1,>=0.23.0->openai) (2024.2.2)
Collecting httpcore==1.* (from httpx<1,>=0.23.0->openai)
  Downloading httpcore-1.0.5-py3-none-any.whl (77 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.9/77.9 kB 8.5 MB/s eta 0:00:00
Collecting h11<0.15,>=0.13 (from httpcore==1.*->httpx<1,>=0.23.0->openai)
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 6.1 MB/s eta 0:00:00
Requirement already satisfied: annotated-types>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1.9.0->openai) (0.7.0)
Requirement already satisfied: pydantic-core==2.18.2 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1.9.0->openai) (2.18.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->torch) (2.1.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (3.3.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2.0.7)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.10/dist-packages (from sympy->torch) (1.3.0)
Installing collected packages: nvidia-nvtx-cu12, nvidia-nvjitlink-cu12, nvidia-nccl-cu12, nvidia-curand-cu12, nvidia-cufft-cu12, nvidia-cuda-runtime-cu12, nvidia-cuda-nvrtc-cu12, nvidia-cuda-cupti-cu12, nvidia-cublas-cu12, h11, nvidia-cusparse-cu12, nvidia-cudnn-cu12, httpcore, nvidia-cusolver-cu12, httpx, openai, bitsandbytes, accelerate
Successfully installed accelerate-0.30.1 bitsandbytes-0.43.1 h11-0.14.0 httpcore-1.0.5 httpx-0.27.0 nvidia-cublas-cu12-12.1.3.1 nvidia-cuda-cupti-cu12-12.1.105 nvidia-cuda-nvrtc-cu12-12.1.105 nvidia-cuda-runtime-cu12-12.1.105 nvidia-cudnn-cu12-8.9.2.26 nvidia-cufft-cu12-11.0.2.54 nvidia-curand-cu12-10.3.2.106 nvidia-cusolver-cu12-11.4.5.107 nvidia-cusparse-cu12-12.1.0.106 nvidia-nccl-cu12-2.20.5 nvidia-nvjitlink-cu12-12.5.40 nvidia-nvtx-cu12-12.1.105 openai-1.30.2

/usr/local/lib/python3.10/dist-packages/huggingface_hub/utils/_token.py:89: UserWarning:
The secret `HF_TOKEN` does not exist in your Colab secrets.
To authenticate with the Hugging Face Hub, create a token in your settings tab (https://huggingface.co/settings/tokens), set it as secret in your Google Colab and restart your session.
You will be able to reuse this secret in all of your notebooks.
Please note that authentication is recommended but still optional to access public models or datasets.
  warnings.warn(

tokenizer_config.json:   0%|          | 0.00/1.84k [00:00<?, ?B/s]

tokenizer.model:   0%|          | 0.00/500k [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/1.84M [00:00<?, ?B/s]

special_tokens_map.json:   0%|          | 0.00/515 [00:00<?, ?B/s]

config.json:   0%|          | 0.00/691 [00:00<?, ?B/s]

ImportError: Using `low_cpu_mem_usage=True` or a `device_map` requires Accelerate: `pip install accelerate`